html,
body {
  background-image: url('../assets/profilePics/carInShop.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
}

.noHorScroll {
  overflow-x: hidden;
}

.sombraCard{
  box-shadow: 0px 3px 2px black;
}

.vh-85{
  height: 85vh!important;
}

.form-signin {
  width: 100%;
  max-width: 3040px;
  padding: 60px;
  margin: auto;
  background-color: white;
  opacity: 0.9;
  backdrop-filter: blur(5px);
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}