.imagenFondo{
    background-size: cover;
    background-image: url('../assets/profilePics/galvez.jpg');
    background-repeat:no-repeat; 
    background-position: center;
}


.bienvenido{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.botonPrincipal{
  background-color: #E71E62 !important;
  color: white;
}

.botonSecundario{
 border-color: #E71E62;
 color: white;
}