.imagenFondo{
    background-size: cover;
    background-image: url('../assets/otherPics/readyRaceInicio.jpg');
    background-repeat:no-repeat; 
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.bienvenido{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.botonPrincipal{
  padding: 10px 40px 0 40px;
}

.botonSecundario{
 border-color: #E71E62;
 color: white;
}

.sombraTexto {
  text-shadow: 1px 1px 2px black;
}