html,
body {
  height: 100%;
  background-color: #2178ae;
}

.sombraCard{
  box-shadow: 0px 5px 3px black;
}

.vh-85{
  height: 85vh!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #2178ae !important;
  border-color: #2178ae !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #cfe5cc !important;
  border-color: #cfe5cc !important;
}



.form-signin {
  width: 100%;
  max-width: 535px;
  padding: 60px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}